@using  RankCreditCard.Helpers;
@model IEnumerable<RankCreditCard.Models.CreditCardViewModel>

@{
    ViewData["Title"] = "View";
}

<p>
    <input type="button" value="Add New Card" class="btn btn-dark" onclick="location.href='@Url.Action("Add", "CreditCard")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCVNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var creditCardNumber = item.CardNumber.Dencrypt();
            var expiryMonth = (MonthEnums)item.ExpiryMonth;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => creditCardNumber)                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CCVNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expiryMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>    
                    <a asp-controller="CreditCard" asp-action="Delete" asp-route-id="@item.Id" class="fa fa-trash alert-danger">Remove</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>



